:root {
    --text-font: "Roboto", sans-serif; 
    --logo-font: "Raleway", sans-serif;
    --text-color:  #212121 ;
    --second-text-color: #757575;
    --third-text-color: #FFFFFF;
    --active-color: #2196F3 ;
    --banner-footer-background: #2F303A;
    --footer-contact-color: #ffffff99;
    --buuton-portfolio-background: #F5F4FA;
}

body{
    font-family: var(--text-font);
    color: var(--text-color);
}

/* !index.html */
.logo-first-side {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--active-color);
}

.logo-header-side {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.site-nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.site-address-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

}

.site-nav-list:hover,
.site-nav-list:focus {
    color: var(--active-color);    

}

.site-address-list:hover,
.site-address-list:focus {
    color: var(--active-color);    
}
.banner {
    background: var(--banner-footer-background);
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--third-text-color);
}

.banner-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    background-color: var(--active-color);
}

.features-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.features-list-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);

}

.img-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--text-color);

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);

}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.team-member-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.footer {
    background-color: var(--banner-footer-background);
}

.logo-footer-side {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}

.footer-address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--third-text-color);

}

.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--active-color);
}

.footer-contact-link {
    
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--footer-contact-color);

}

.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--active-color);
}





/* !portfolio.html*/

.button {
    background-color: var(--buuton-portfolio-background) ;
}

.button:hover,
.button:focus {
    color: #FFFFFF ;
    background-color: var(--active-color);
}

.gallery-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--text-color);

}

.gallery-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);


}